extends layouts/template.jade

block variables
	- title="Главная страница"

block content
	include sections/header.jade
	.Casual-01-PDP
		main.content
			.Stan-Smith-sneakers
				p Stan Smith sneakers made in vintage-look suede.
			.Empty-Box1
			.The-Stan-Smith-debut
				p The Stan Smith debuted as a pro-level tennis sneaker in the '70s. It wasn't long before its crisp, clean aesthetic made it a crossover favorite off the court. These men's shoes update the timeless look with a suede upper. Featuring perforated 3-Stripes and the iconic rubber cupsole.
			.Empty-Box2
			.-Suede-upper-Perf
				ul 
					li Suede upper  
					li Perforated 3-Stripes; Stan Smith logo on tongue  
					li Leather lining  
					li Enjoy the comfort and performance of OrthoLite® sockliner  
					li Logo on heel tab  
					li Rubber cupsole  
					li Imported
		include sections/footer.jade