header
	.My-menu
		.Pure
			h3 PURE
		.Women-Men-Kids-Sport-Brands
			a(href="#") Women
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			a(href="#") Men
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			a(href="#") Kids
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			a(href="#") Sports
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			a(href="#") Brands
		.Search
			h3 Search...
		.Log-in-My-cart
			.My-cart
				a(href="#") My cart
				.notification
					span 2
			.Log-in
				a(href="#") Log in

			